.App {
    padding: 2em;

}

.product-display {
    margin: auto;
    width: 400px;
    border: 2px solid goldenrod;
    padding: 1em;

}

.product-list {
    margin: .5em;
    padding: .5em;
    border: 2px solid green;
}

.product-card {
    display: flex;
    justify-content: space-between;
    margin: .5em;
    padding: .5em;
    border: 2px solid red;
}

.product-header {
    margin: .5em;
    padding: .5em;
    border: 2px solid turquoise;
}

.search-bar {
    border: 2px solid blue;
    margin: .5em;
    padding: .5em;
}